<app-toolbar-menu>
  <mat-card style="margin: 10px;">
    <mat-card-title style="text-align: center;">
      We'd love to answer your questions !
    </mat-card-title>
    <mat-card-subtitle style="text-align: center;">
      Let's talk !
    </mat-card-subtitle>
  <form class="contact">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput  placeholder="email@example.com" required>
    <mat-error >Please enter a valid email</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput maxlength="256" placeholder="I'm interested in..." required></textarea>
  </mat-form-field>
  <button  type="submit">Submit</button>
</form>
</mat-card>

</app-toolbar-menu>